{% extends 'base.html' %}


{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    {% for i in products %}
    <div>
        <img src="{{ url_for('static',filename=i.image) }}" width="100" height="200"></a>
        <ul>
            <li>Name: {{ i.name }}</li>
            <li>Description: {{ i.description }}</li>
            <li>Category: <a href="">{{ i.category}}</a></li>
            <li>Price: {{ i.price }}</li>
            <li>Date added: {{ i.timestamp }}</li>
        </ul> 
    </div>
    {% endfor %}
{% endblock %}